* {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  .header {
    
    display: flex;
    justify-content: space-around;
  }
  
  .logo {
    margin-left: 25px;
  }
  
  .menu {
    margin-right: 75px;
  }
  
  .menu li {
    padding-left: 25px;
  }
  
  .footer {
    width: 100%;
    background-color: rgb(0, 0, 0, .7);
    position: relative;
  }
  
  .iconsFooter a {
    margin-right: 35px;
    color: aliceblue;
    height: 5px;
  }
  
  .main-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px ;
    align-items: center;
  }

  .form-row > div, .formCadastro > div {
    margin-top: 3% !important;
  }
  
.btn2 {
  font-family: 'Caudex', serif;
  font-size: 1.2rem;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  background-color: #536DFE;
  margin: 5% 5% 0 0 ;
}

.btn2:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

#inputRG{
  width: 200px;
}

#inputCEP {
  width: 120px;
}

.buscaCep {
  display: flex;
}

.botaoBusca {
  font-family: 'Caudex', serif;
  font-size: 1.2rem;
  width: 110px;
  height: 40px;
  border-radius: 0 20px 20px 0;
  border: 2px solid rgb(83, 109, 254);
  color: #536DFE;
  background-color: rgb(255, 255, 255);
}

.botaoBusca:hover {
  background-color: #536DFE;
  color: #ffffff;
}

.btn {
  font-family: 'Caudex', serif;
  font-size: 1.2rem;
  width: 120px;
  height: 44px;
  border-radius: 20px;
  border: 2px solid rgb(83, 109, 254);
  color: #536DFE;
  background-color: rgb(255, 255, 255);
}

#inputCEP {
  border-radius: 5px 0 0 5px;
}

.msgDesativada {
  display: none;
}

.verificacaoCepMsg {
  color: red;
}

.inputCEPErro {
  box-shadow: inset 0 0 7px red;
}

.inputCEPSucesso {
  box-shadow: inset 0 0 7px green;
}

/* darkmode */
[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .bg-light{
  background-color: #222 !important;
  color: #eee;
}
[data-theme="dark"] .bg-white{
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .btn-primary{
 background-color: #eee;

}

.form-check {
margin-top: 9px;
}
[data-theme="dark"] .dropdowm-item {
  background-color: #222 !important;
color: #222 !important ;}