* {
  text-decoration: none;
  list-style: none;
}

.primeiraDiv {
  margin-top: 150px;
}

.sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sec1Texto {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.sec1Img {
  max-height: 460px;
  max-width: 465px;
}

.segundaDiv {
  width: 100%;
}

.sec2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding: 25px;
}

.listaBeneficios > li {
  list-style: circle;
}

.sec3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.sec3Img {
  margin: 35px;
}

.sec3Textos p {
  margin-top: 25px;
}

.sec3Textos li {
  line-height: 20px;
  padding: 5px;
}

.precos {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabelaPrecos {
  margin-top: 30px;
}

.card {
  display: flex;
  text-align: center;
}

.cardPreco {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}


.botaoChamada, .botaoAdquirir {
  font-family: 'Caudex', serif;
  font-size: 1.2rem;
  width: 180px;
  height: 64px;
  border-radius: 20px;
  border: 2px solid rgb(83, 109, 254);
  color: #536DFE;
  background-color: rgb(255, 255, 255);
}

.btn:hover, .botaoAdquirir:hover {
  color: #536DFE;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.tituloCard {
  border: 2x solid ;
}

.menuLink:hover {
  color: #536DFE;
}

.btnAdquirir {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media (max-width: 700px) {
  .sec3 {
    flex-direction: column;
  }
}

/* darkmode */
[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .navbar {
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] body {
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .card-header{
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .card-footer {
  background-color: #111 !important;
  color: #eee;
}
[data-theme="dark"] .list-group-item{
  background-color: #222 !important;
  color: #eee;
}
[data-theme="dark"] .btn {
  background-color: rgb(0, 0, 0);
color: #536DFE;
}
[data-theme="dark"] .dropdowm-item{
  background-color: #111 !important;
  color: rgb(255, 255, 255);
}
[data-theme="dark"] .show {
  background-color: #222 !important;
  color: #eee;
}

.form-check {
margin-top: 9px;
}