.sec-1{
    margin-top: 140px;
    width: 20rem;
    color: blue;
}
.jumbotron{
    margin-top: 15rem;

}
.sec-2{
    margin-top: 15rem;
}
.sec-3{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.sec-4{
    display: flex;
  
}
.sec-4-img{
    max-width: 350%;
    max-height: 500%;
    margin-right: 10%;
    
}
.sec-4-textos{
    display: flex;
    flex-direction: column;
   max-width: 40%;
   justify-content: space-around;

}

.btnAdquirir {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
/* darkmode */
[data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
  }
  [data-theme="dark"] .navbar {
    background-color: #111 !important;
    color: #eee;
  }
  [data-theme="dark"] body {
    background-color: #111 !important;
    color: #eee;
  }
  [data-theme="dark"] .card-header{
    background-color: #111 !important;
    color: #eee;
  }
  [data-theme="dark"] .card-footer {
    background-color: #111 !important;
    color: #eee;
  }
  [data-theme="dark"] .list-group-item{
    background-color: #222 !important;
    color: #eee;
  }
  [data-theme="dark"] .btn {
    background-color: rgb(0, 0, 0);
  color: #536DFE;
  }
  [data-theme="dark"] .dropdowm-item{
    background-color: #111 !important;
    color: rgb(255, 255, 255);
  }
  [data-theme="dark"] .show {
    background-color: #222 !important;
    color: #eee;
  }
  .form-check {
  margin-top: 9px;
  }